
body {
    background: #E5E5E5;
}

img{
    position: center;
    width: 97.0%;
    height: 550px;
    left: 10px;
    top: 0px;
    padding: 10px;

}



.left-side {
    position: absolute;
    height: 120px;
    left: 0px;
    width: 50%;

  } 
  

  .style-h1{
      background-color: #808080;
      margin-left: 15px;
      width: 92.5%;
    
  }

  .p1-style{
    
 
    height: 222px;
    
    font-size: medium;
    font-style: inherit;
    font-weight: 100;
    font-family: '**cursive**';
    line-height: 21px;
    
    align-items: center;
    text-align: center;
    
    color:black;
  }

  a:hover {
    background-color: lightblue;
  }
  
  .right-side {
    position: absolute;
    height: 120px;
    right: 0px;
    width: 50%;

  } 

  .songs-style{
    margin-left: 15px;
    width: 92.5%;
    
  }
  a:link {
    text-decoration: none;
  }
  ol{
    
    overflow: auto;

    position: absolute;
    width: 92.5%;
    height: 180px;

    background: #E5E5E5;
    border: 5px solid #2A362A;
    box-sizing: border-box;
    
}


.bottom {
  position:absolute;                 
  bottom: -1220px;                       
  width: 94.5%;
  height: max-content;

  background-image: url(https://user-images.githubusercontent.com/42610692/120894536-96bb2680-c621-11eb-8489-9d676c59163c.jpg);
  
}

.h1-band-members{
  
  text-align: center;
}

.text-style{
  color: white;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

.column {
  float: left;
  width: 23.2%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.no-bg{
  background-color: transparent;
}

img.resize {
  max-width:92.5%;
  max-height:300px;
}

.bg-edit{
  background-color: black;
}

.right-shift{

  text-align: right;
  padding: 10px;
}

img.style1{
  max-width: 50%;
  max-height: 170px;

}